/SpringBootVaadin/nbproject/
/SpringBootVaadin/node_modules/
/SpringBootVaadin/config/
/SpringBootVaadin/nb-configuration.xml
/SpringBootVaadin/math-solverCORE.2021-01-22.log
/SpringBootVaadin/math-solverCORE.2021-01-25.log
/SpringBootVaadin/nbactions.xml
/SpringBootVaadin/math-solverCORE.2021-01-21.log
/SpringBootVaadin/.gradle/